/*1 Se definen los estilos para las etiquetas*/
/*2 Se definen los estilos para etiquetas con identificadores*/
/*3 Se definen los estilos para las clases*/

*
{
border: 0;
margin: 0;
padding: 0;
}

body 
{
	background: #FDFEFE ;
	color: #FDFEFE; /*color blanco*/
	font-family:"Franklin Gothic Heavy"; /* "Franklin Gothic book";*/ /*"Angsana new";*/ 
	font-size: 16px;
	margin: 0 auto;
}

p
{
	color: #F60;
	font-weight: bold;
	text-decoration: none;
	text-align: right;
}

p:hover
{
	color: #009999;
	text-align: justify;
}

nav
{
	padding: 2px 7px 2px 7px;
	font-size: 20px;
	font-family: "Angsana new";
	background: #F2B80D; /*color Azul*/
	text-decoration: none;
}

nav:hover
{
	background: #F2B80D;
	font-family: "Angsana new";/*"Franklin Gothic book";*/
	/*color: #FDFEFE;  /*color blanco*/
}

h1
{
	background: #006680;
	text-align: center;
	font-size: 1.6em;
	font-family: "Franklin Gothic book";
}

#navegador ul
{
   list-style-type: none;
   text-align: center;
   text-decoration: none;
   font-family: "Franklin Gothic book";
}

#navegador li
{
   display: inline;
   text-align: center;
   margin: 0 10px 0 0;*/
  /background: #006680;
  
   /*color: #F8F9F9;
   border: 1px solid #ccc;*/
   
}

#navegador li a:hover
{
	background: #F2B80D; /*color amarillo*/
	color: #F8F9F9; /*color blanco*/
}

aside
{
background: #F2B80D; /*color amarillo*/
	color: #F8F9F9; /*color blanco*/
}
footer
{
	background: #FF5900; /*color naranja*/
	color: #F8F9F9; /*color blanco*/	
}
}